canvas {
  background-image: url("wall_texture_s.png");
  border: 1px solid grey;
  /* border: 1px solid #000; */
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.directions {
  
}
