//sass --watch scss:css

$grey: #BCBCBC;
$blue: #2596ff;
$orange: #ff8022;

html {
  background-image: url('../img/background3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

canvas {
  background-image: url("wall_texture_s.png");
  border: 1px solid $grey;
  /* border: 1px solid #000; */
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}


.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px 0px;
  padding: 5px 0px;
  border-radius: 10px;
  align-items: center;
  background: $grey;
  width: 100%;
  :first-child {
    margin-left: 50px;
  }
  :last-child {
    margin-right: 50px;
  }
}
.title {
  font-size: 50px;
  flex-grow: 3;
}
.two {
  color: $blue;
}
.dee {
  color: $orange;
}
.level-info {
  font-size: 40px;
  flex-grow: 3;
  display: flex;
  flex-direction: row;
}
.description-button {
  flex-grow: 2;
  font-size: 20px;
  width: 60px;
}



.directions {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 100%;
  background: $grey;
  margin-right: 35px;
  padding: 130px 20px;
  border-radius: 10px;
}


.controls {
  margin-bottom: 40px;
  font-size: 30px;

}


.AWD {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
  li {
    border: 1px solid black;
    font-size: 26px;
    border-radius: 10px;
    padding: 20px 25px;
    width: auto;
    margin: 0 20px;
    text-align: center;
  }
}
.arrow-keys {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
  li {
    margin: 0 30px;
    width: 120px;
    text-align: center;
  }
}
.move-funcs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
  li {
    margin: 0 10px;
    width: 120px;
    text-align: center;
  }
}

.other-keys {
  display: flex;
  div {
    margin: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.other-key {
  border: 1px solid black;
  font-size: 26px;
  border-radius: 10px;
  padding: 20px 25px;
  width: auto;
  margin: 10px 20px;
  text-align: center;
}



.select {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.select-level-text {
  margin-right: 10px;
  font-size: 24px;
}
.select-level {
  border-radius: 10px;
  font-size: 20px;
  background: white;
  border: 1px solid black;
  padding: 12px 15px;
  text-align-last:center;
}

a {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    align-self: center;
  }
}
a:hover {
  i {
    border-radius: 4px;
    color: white;
    background: black;
  }
}
