//sass --watch scss:css

$grey: #BCBCBC;
$blue: #2596ff;
$orange: #ff8022;

html {
  background-image: url('../img/background3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

canvas {
  background-image: url("wall_texture_s.png");
  border: 1px solid $grey;
  /* border: 1px solid #000; */
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}


.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px 0px;
  padding: 5px 0px;
  border-radius: 10px;
  align-items: center;
  background: $grey;
  width: 100%;
  :first-child {
    margin-left: 50px;
  }
  :last-child {
    margin-right: 50px;
  }
}
.title {
  font-size: 50px;
  flex-grow: 3;
}
.level-info {
  font-size: 40px;
  flex-grow: 3;
  display: flex;
  flex-direction: row;
}
.description-button {
  flex-grow: 2;
  font-size: 20px;
  width: 20px;
}



.directions {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  background: $grey;
  margin-right: 15px;
  padding: 50px 20px;
  border-radius: 10px;
}


.select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.select-level-text {
  margin-right: 10px;
}
.select-level {
  background: white;
  border: 1px solid black;
  padding: 10px 15px;
  text-align-last:center;
}

a {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    align-self: center;
  }
}
a:hover {
  i {
    border-radius: 4px;
    color: white;
    background: black;
  }
}
