//sass --watch scss:css

$grey: #BCBCBC;
$blue: #2596ff;
$orange: #ff8022;

html {
  background-image: url('../img/background3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

canvas {
  background-image: url("../img/wall_texture_s.png");
  border: 1px solid $grey;
  /* border: 1px solid #000; */
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.controls {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 95px;
  margin-right: 15px;
  height: 740px;
}

.collapsible {
  background: $grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.arrow {
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.arrow-right { 
  border-left: 20px solid rgb(88, 88, 88);
}

.arrow-left {
  display: none;
  border-right:20px solid rgb(88, 88, 88);
}

.collapsible:hover {
  background: rgb(148, 148, 148);
  cursor: pointer;

  .arrow-right {
    border-left: 20px solid rgb(0, 0, 0);
  }
  .arrow-left {
    border-right:20px solid rgb(0, 0, 0);
  }
}

.directions {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 440px;
  height: 100%;
  background: $grey;
  
  padding: 0px 0px 0px 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  max-width: 440px;
  overflow: hidden;
  transition: max-width 0.3s ease-out;
}


.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px 0px;
  padding: 5px 0px;
  border-radius: 10px;
  align-items: center;
  background: $grey;
  width: 100%;
  :first-child {
    margin-left: 50px;
  }
  :last-child {
    margin-right: 20px;
    margin-left: 10px;
  }
}
.title {
  font-size: 50px;
  flex-grow: 3;
  letter-spacing: 1px;
}
.two {
  color: $blue;
}
.dee {
  color: $orange;
}
.level-info {
  font-size: 40px;
  flex-grow: 3;
  display: flex;
  flex-direction: row;
}
.description-button {
  flex-grow: 2;
  font-size: 26px;
  width: auto;
  padding: 10px 10px;
  text-align: center;
  margin-right: 10px;
}
.description-button:hover {
  cursor: pointer;
}



.controls-title {
  margin-bottom: 40px;
  font-size: 40px;

}


.AWD {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
  li {
    border: 1px solid black;
    font-size: 26px;
    border-radius: 10px;
    padding: 20px 25px;
    margin: 0 40px;
    text-align: center;
    background: white;
  }
}
.arrow-keys {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
  li {
    margin: 0 30px;
    width: 120px;
    text-align: center;
  }
}
.move-funcs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 20px;
  margin-bottom: 30px;
  li {
    margin: 0 10px;
    width: 190px;
    text-align: center;
  }
}

.other-keys {
  display: flex;
  div {
    margin: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.other-key {
  border: 1px solid black;
  font-size: 26px;
  border-radius: 10px;
  padding: 20px 25px;
  width: auto;
  margin: 10px 20px;
  text-align: center;
}



.select {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.select-level-text {
  margin-right: 15px;
  font-size: 24px;
}
.select-level {
  border-radius: 10px;
  font-size: 20px;
  background: white;
  border: 1px solid black;
  padding: 12px 15px;
  text-align-last:center;
}

a {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    align-self: center;
  }
}
a:hover {
  .fa-github-square {
    color: $orange;
  }
  .fa-linkedin {
    color: $blue;
  }
}


.mouse-control {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 30px 0;
  li {
    margin-bottom: 70px;
  }
  img {
    width: 180px;
    height: 180px;
    margin: 0px -25px;
  }
}

// https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal
/* The Modal (background) */
.modal {
    letter-spacing: 0.5px;
    display: none; /* block by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    font-size: 24px;
    img {
      display: inline-block;
      width: 50px;
    }
}

/* Modal Content */
.modal-content {
    background-color: #dbdbdb;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 10px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



.modal-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-title {
  margin: 20px 0;
  font-size: 30px;
}

.modal-start {

}

.modal-descr {
  margin: 30px 75px;

}

.modal-items {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.modal-item {
  margin: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  :first-child {
    margin: 0px 15px;
  }
}

.blue {
  color: $blue;
}

.orange {
  color: $orange;
}


//
